@media only screen and (max-width: 1440px) {
    .main-container .main-wrap {
        padding: 6rem 6rem;
    }

    .invent {
        padding: 6rem 6rem;
    }

    .footer-inventory-wrap {
        padding: 6rem 6rem;
    }
}



@media only screen and (max-width: 1290px) {
    /* .sidebar {
        display: none;
    } */
}



@media only screen and (max-width: 1024px) {
    .main-container .main-wrap {
        padding: 6rem 3.5rem;
        grid-template-columns: repeat(3, 1fr);
    }
}


@media only screen and (max-width: 768px) {
    .toggle {
        display: block;
    }

    .section-1 {
        visibility: hidden;
    }

    /* .sidebar {
        transform: translateX(-100%);
    } */

    body {
        font-size: 14px;
    }

    .inventory-container {
        display: block;
    }

    .invent {
        padding: 6rem 3.5rem;
    }

    .footer-inventory-wrap {
        padding: 6rem 3.5rem;
        display: block;
    }

    .technical .technical-img {
        display: none;
    }

    .footer-inventory-box {
        display: block;
        margin-bottom: 40px;
    }

    .footer-inventory-box .technical {
        margin-bottom: 40px;
        margin-right: 0;
        display: block;
    }

    .inventory-wrap {
        display: block;
    }

    .inventory-wrap .video {
        margin-bottom: 40px;
    }

    .main-container .main-wrap {
        display: block;
        padding: 6rem 3.5rem;
    }

    .card img {
        height: 150px;
    }

    .main-container .card {
        margin-bottom: 40px;
    }

    .inventory-box {
        margin-bottom: 40px;
    }

    .inventory {
        margin-right: 0;
    }

    .technical .techical-two p {
        width: 100%;
    }

    .footer-inventory-box {
        margin-right: 0px;
    }



    /* CATALOG PAGE */

    .section-two .section-two-box {
        display: block;
        padding: 2rem 3rem;
    }

    #catalog-main .content-box .section-three {
        padding: 2rem 3rem
    }

    .section-two-box .container {
        margin-bottom: 2rem;
    }

    .section-three form .form-1, .section-three form .form-2 {
        display: block;
    }

    .forms {
        margin-bottom: 25px;
    }

    #catalog-main .content-wrap-grid {
        display: block;
    }

    #catalog-main .add-hero {
        flex-direction: column;
        align-items: center;
        row-gap: 25px;
        padding: 1rem;
    }
    
}



@media only screen and (max-width: 540px) {
    .invent {
        padding: 6rem 2rem;
    }

    .footer-inventory-wrap {
        padding: 6rem 2rem;
    }

    .main-container .main-wrap {
        padding: 6rem 2rem;
    }

    .welcome h1 {
        font-size: .9rem;
    }
}























